<html>
    <body>
   <div id="2"  style="float:left;width:40%;background-color:blue;">top two<br>Maecenas ornare arcu et turpis feugiat iaculis. Donec ut tellus sit amet nisi luctus molestie. In ac nulla semper, consequat ex sed, mollis velit. Aliquam tempus sit amet leo id euismod. Aliquam fringilla neque viverra sapien dapibus, a mattis odio posuere. Aenean tristique arcu ac enim ornare ultricies. Sed sed metus nec velit ullamcorper pulvinar in ut sem. In pretium risus ac ante tempor, in semper augue dignissim.
</body>
</html>